<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- Spring整合myBatis后，这个配置文件基本可以不要了-->

    <!-- 设置日志配置文件 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <!-- 设置类别名 -->
    <typeAliases>
        <package name="net.suncaper.demo.domain"/>
    </typeAliases>
    <!-- 设置分页 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
    <!-- 映射文件 -->

</configuration>